.clients {
    padding: 94px 15px;
    
    // .clients__title

    &__title {
        margin-bottom: 50px;
    }

    // .clients__list

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

     // .clienst__item

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 32px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        transition: 250ms $cubic-b;
        cursor: pointer;
        

        &:hover {
            border-color: $third-color;
        }

        &:hover .clients__svg {
            fill: $third-color;
        }
    }

    // .clients__svg

    &__svg {
        fill: #AFB1B8;
        transition: 0.4s;
        height: 60px;
        max-width: 106px;
    }
   
}

@media screen and (max-width: 767px) {
    .clients {
        padding: 60px 0;

        &__item {
            margin-left: 15px;
            margin-right: 15px;
            width: calc((100% - 2 * 30px) / 2);
            margin-bottom: 30px;

        }

        &__item:nth-last-child(-n + 2) {
            margin-bottom: 0;
        }
    }
   
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .clients {
        padding: 60px 0;

        &__item {
            margin-left: 15px;
            margin-right: 15px;
            width: calc((100% - 3 * 30px) / 3);
            margin-bottom: 30px;
        }
        
        &__item:nth-last-child(-n + 3) {
            margin-bottom: 0;
        }
    }
   
   
}

@media screen and (min-width: 1200px) {

}


