.header {
    padding: 25px 15px;
    border-bottom: 1px solid #ECECEC;

		// .header__box

		&__box {
            display: flex;
            align-items: center;
		}

		// .header__logo

		&__logo {
            margin-right: 93px;
		}

		// .header__menu-list

		&__menu-list {
            display: flex;
		}

		// .header__menu-item

		&__menu-item:not(:first-child) {
            margin-left: 50px;
		}

		// .header__menu-link

		&__menu-link {
            position: relative;
            font-weight: 500;
            transition: 250ms;

            &:hover,
            &:focus {
                color: $third-color;
            }

            &::before {
                position: absolute;
                content: '';
                height: 4px;
                width: 100%;
                left: 0;
                bottom: -34px;
                background-color: $third-color;
                border-radius: 2px;
                transform: scaleX(0);
                transition: 250ms $cubic-b;
            }

            &:hover::before {
                transform: scaleX(1);
            }

            &--selected {
                color: $third-color;

            }

            &--selected::after { 
                position: absolute;
                content: '';
                height: 4px;
                width: 100%;
                left: 0;
                bottom: -34px;
                background-color: $third-color;
                border-radius: 2px;
            }
            
            
                

        }

		// .header__contacts

		&__contacts {
            display: flex;
            margin-left: auto
		}

		// .header__contacts-item

		&__contacts-item {
            margin-left: 50px;
		}

		// .header__contacts-link

		&__contacts-link {
            display: flex;
            align-items: center;
            color: $main-color;
            font-weight: 500;
            transition: color 250ms $cubic-b;

            &:hover,
            &:focus {
                color: $third-color;

            }

            &:hover .header__contacts-img {
                fill: $third-color;
            }
            
		}

		// .header__contacts-img

		&__contacts-img {
            margin-right: 10px;
            fill: $main-color;
            transition: 0.4s;
		}
}

