.btn {
    border: none;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 700;
    letter-spacing: 0.06em;
    border-radius: 4px;
    color: $white-color;
    background-color: $third-color;
    cursor: pointer;
}