.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;

    text-decoration: none;
    color: $third-color;

    // .logo__colored

    &__colored {
        color: #000;
    }
}
